body{

  max-width: 100%;
  background: url(images/Background.JPG),
  				grey;
  background-position: 0% 0%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: cursive;
  color: black;
  height: 100%;
  width: 100%;
}